@import "tailwindcss";

:root {
  --cover: #fafafacc;
  --highlight: #4f86f7;
  --text-main: #2c2c2c;
  --text-white: #fafafa;
  --text-secondary: #9ca3af;
  --opposite: #141e22;
  --background: #fafafa;
}

html.dark {
  --cover: #051111cc;
  --text-main: #fafafa;
  --text-secondary: #9ca3af;
  --opposite: #fafafa;
  --background: #141e22;
}

body {
  background: var(--background);
  color: var(--text-main);
  transition:
    background 0.3s,
    color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display), serif;
}

p,
span {
  font-family: var(--font-poppins), sans-serif;
}
