@import "tailwindcss";

:root {
  --cover: #fafafacc;
  --highlight: #4f86f7;
  --text-main: #2c2c2c;
  --text-white: #fafafa;
  --text-secondary: #2c2c2cbf;
  --opposite: #141e22;
  --background: #fafafa;
}

html.dark {
  --cover: #051111cc;
  --text-main: #fafafa;
  --text-secondary: #9ca3af;
  --opposite: #fafafa;
  --background: #141e22;
}

body {
  background: var(--background);
  color: var(--text-main);
  transition:
    background 0.3s,
    color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display), serif;
}

p,
span {
  font-family: var(--font-poppins), sans-serif;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes downup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Moves down */
  }
  100% {
    transform: translateY(0);
  }
}

.hover-animate-downup:hover {
  animation: downup 1.5s ease-in-out infinite;
}

.hover-animate-updown:hover {
  animation: updown 1.5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

.stack-border {
  border: 1.5px solid #000;
  position: relative;
  border-radius: 0; /* Remove rounded corners */
}

.plus {
  position: absolute;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  background: #000;
}

.plus:before {
  width: 2px;
  height: 8px;
  left: 7px;
  top: 4px;
}

.plus:after {
  width: 8px;
  height: 2px;
  left: 4px;
  top: 7px;
}

.plus-tl {
  top: -9px;
  left: -9px;
}
.plus-tr {
  top: -9px;
  right: -9px;
}
.plus-bl {
  bottom: -16px;
  left: -9px;
}
.plus-br {
  bottom: -16px;
  right: -9px;
}
