.stack-border {
  border: 1.5px solid #000;
  position: relative;
  border-radius: 0; /* Remove rounded corners */
}

.plus {
  position: absolute;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.plus:before, .plus:after {
  content: "";
  position: absolute;
  background: #000;
}

.plus:before {
  width: 2px;
  height: 8px;
  left: 7px;
  top: 4px;
}

.plus:after {
  width: 8px;
  height: 2px;
  left: 4px;
  top: 7px;
}

.plus-tl { top: -9px; left: -9px; }
.plus-tr { top: -9px; right: -9px; }
.plus-bl { bottom: -9px; left: -9px; }
.plus-br { bottom: -9px; right: -9px; }